{
  "extends": ["airbnb"],
  "globals": {
    "document": true,
    "graphql": true,
    "window": true
  },
  "rules": {
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }]
  }
}
