---
extra_js:
  - /assets/js/lib/wordcloud2.js
  - /assets/js/quotes.js
quotes:
  - url: https://twitter.com/RebeccaCoelius/status/588910655316500480
    quote: Hope for helping the rest of us
  - url: https://twitter.com/eddievb/status/557180257854570497
    quote: so much easier
  - url: https://twitter.com/marxculture/status/555427791102304257
    quote: nice bit of work
  - url: https://twitter.com/kegill/status/555410645554712576
    quote: interesting
  - url: https://twitter.com/kegill/status/555410645554712576
    quote: human-friendly
  - url: https://twitter.com/pmocek/status/492115372510679040
    quote: beautiful
  - url: https://twitter.com/pmocek/status/492115372510679040
    quote: functional
  - url: https://twitter.com/pmocek/status/492115372510679040
    quote: Bravo
  - url: https://twitter.com/Erie/status/484718051758465024
    quote: can't handle how beautiful/awesome/useful
  - url: https://twitter.com/JoshData/status/482913703839272960
    quote: inspiration
  - url: https://twitter.com/danrozas/status/475957994325557248
    quote: user-friendly
  - url: https://twitter.com/prashantString/status/471667560413663234
    quote: more accessible
  - url: https://twitter.com/AllstateLP/status/467024722899644416
    quote: easier to read and understand
  - url: https://twitter.com/imlwilliams/status/466263631978844160
    quote: OH. MY. GOD.
  - url: https://twitter.com/imlwilliams/status/466263631978844160
    quote: magnificent
  - url: https://twitter.com/janzilinsky/status/466412925612470273
    quote: impressive
  - url: https://twitter.com/shrivercenter/status/466244089613385728
    quote: great
  - url: https://twitter.com/JeanineSko/status/465917330799591424
    quote: easier to navigate
  - url: https://twitter.com/Money_College/status/465889170888851456
    quote: handy
  - url: https://twitter.com/wfdobie/status/464906686319165441
    quote: really nice
  - url: https://twitter.com/FoundOpenGov/status/451079854109519872
    quote: amazing stuff
  - url: https://twitter.com/jeremiak/status/446059909373648896
    quote: so freaking cool!
  - url: https://twitter.com/jeremiak/status/446059909373648896
    quote: Human readable legislation
  - url: https://twitter.com/ShowHNDaily/status/555159871486574594
    quote: awesome
  - url: https://twitter.com/Stringrealest/status/466655506510389248
    quote: easier implementation
  - url: https://twitter.com/jeffreyandersen/status/466244064728190976
    quote: easier to find and read
  - url: https://twitter.com/michelet/status/465931543157161985
    quote: awesomeness
  - url: https://twitter.com/OpenGovHub/status/443102947988086786
    quote: beautiful
  - url: https://twitter.com/OpenGovHub/status/443102947988086786
    quote: easy to find, read &amp; understand
  - url: https://twitter.com/WiproInsights/status/439754600753954816
    quote: bringing clarity
  - url: https://twitter.com/DruidSmith/status/426782638104653824
    quote: cool way to do regs
  - url: https://twitter.com/SFMOCI/status/420256723018846208  
    quote: Government can build technology well
  - url: https://twitter.com/lauraolin/status/395570111446548480
    quote: amazing
  - url: https://twitter.com/DanB/status/395573739816894464
    quote: Easier reading of gov regulation
  - url: https://twitter.com/DanB/status/395573739816894464
    quote: Cool UX
  - url: https://twitter.com/allafarce/status/393761932328456192
    quote: agency-tech opposite of HealthCare.gov
  - url: https://twitter.com/allafarce/status/393761932328456192
    quote: superb
  - url: https://twitter.com/rsm/status/393697968840531968
    quote: very nice
  - url: https://twitter.com/lauratypes/status/393135109248786432
    quote: I love @CFPB's regs project
  - url: https://twitter.com/lauratypes/status/393135109248786432
    quote: Hope other agencies use it
  - url: https://twitter.com/bgneumeyer/status/393040841033265152
    quote: model other agencies
  - url: https://twitter.com/bgneumeyer/status/393040841033265152
    quote: readable and easy to use
  - url: https://twitter.com/JoshData/status/393007992229990402
    quote: I'm blown away
  - url: https://twitter.com/konklone/status/393015003705778176
    quote: outstanding work
  - url: https://twitter.com/cydharrell/status/392840792605089792
    quote: stunning
  - url: https://twitter.com/edmullen/status/392841150929051649
    quote: really great work
  - url: https://twitter.com/iuloshi/status/392763359193747457
    quote: accessible &amp; gorgeous
  - url: https://twitter.com/MattBailey0/status/392731855801159680
    quote: WHOA NELLY
  - url: https://twitter.com/DesigningGov/status/392721930182070272
    quote: beautiful
  - url: https://twitter.com/raseman/status/392706586369486848
    quote: love the features
  - url: https://twitter.com/mebates/status/392704040884113408
    quote: beautiful
  - url: https://twitter.com/nancyscola/status/392702784820084736
    quote: pretty
  - url: https://twitter.com/marcesher/status/392697188494872576
    quote: amazing
  - url: https://twitter.com/tjl/status/392694776283541507
    quote: those pretending gov can't make great websites need to grapple with [eRegs]
  - url: https://twitter.com/konklone/status/392693750989737984
    quote: Ridiculously impressed
  - url: https://twitter.com/konklone/status/392693750989737984
    quote: Useful, beautiful
  - url: https://twitter.com/konklone/status/392693750989737984
    quote: they know things
  - url: https://twitter.com/matthewburton/status/392690564803465216
    quote: awesome
  - url: https://twitter.com/jtspeigel/status/392710638222716928
    quote: perhaps the crew at @CFPB should rework heathcare.gov
  - url: https://twitter.com/michelet/status/392689999449055232
    quote: super-smart
  - url: https://twitter.com/meiqimichelle/status/431815817231994880
    quote: something useful and sharable
---

%h2 Quotes
%ul#quotes
  - @item[:quotes].each do |quote|
    %li
      %a{href: quote[:url]}
        = quote[:quote]
