---
title: Podcasts
extra_css:
  - "/assets/css/podcasts.css"
extra_js:
  - "//cdnjs.cloudflare.com/ajax/libs/jplayer/2.6.3/jquery.jplayer/jquery.jplayer.min.js"
  - "/assets/js/podcasts.js"
---
#jquery_jplayer.jp-jplayer
- podcast_list().each do |podcast|
  %h4
    %a{:href => podcast[:link]}
      = podcast[:title]
  = " | "
  %a.play-pause{:href => podcast[:latest]}
    [Play]
  %div
    = podcast[:description]
#player
