.year h2 {
  font-size: 1.75em;
}
.course h3 {
  font-size: 1.1em;
}
.year h2, .course h3 {
  display: inline-block;
  line-height: inherit;
  border-bottom: 1px dotted;
  cursor: pointer;
}
.year .universities,
.course .categories,
.course .languages,
.course .libraries {
  list-style: none;
  display: inline;
}
.year .universities li {
  display: inline;
  font-size: 1em;
}
.course .categories li, .course .languages li, .course .libraries li {
  display: inline;
  font-size: .75em;
}
