/*  Structure */
body {
  background-color: #9CAAC6;
}
body .container-fluid {
  margin-top: 1em;
}

/*  Header  */
#logo {
  position: absolute;
}
#header strong {
  background: url('../img/logo_left.gif') left bottom no-repeat;
  padding-left: 17px;
  padding-top: 10px;
  margin-left: 90px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
}
#header strong a {
  color: #000;
  background: url('../img/logo_right.gif') right bottom no-repeat;
  padding-right: 24px;
  display: inline-block;
}
#header strong span {
  background: #F19B1D url('../img/logo_middle.gif') repeat;
  display: inline-block;
}
#main-menu {
  height: 50px;
  line-height: 50px;
  display: block;
  margin-left: 80px;
  margin-top: 5px;
}
#main-menu li {
  background: #5A79A5 url('../img/mm_middle.gif') repeat-x;
  float: left;
  display: inline;
  list-style-type: none;
  line-height: 50px;
  height: 50px;
}
#main-menu li a {
  background: url('../img/mm_left.gif') left top no-repeat;
  padding-left: 25px;
  display: inline-block;
  text-decoration: none;
}
#main-menu a.first {
  background: url('../img/mm_left_curve.gif') left top no-repeat;
  padding-left: 35px;
}
#main-menu li span {
  background: url('../img/mm_right.gif') right no-repeat;
  padding-right: 25px;
  font-size: x-large;
  color: #FFF;
  font-variant: small-caps;
  font-style: italic;
  display: inline-block;
}
#main-menu a.last span {
  background: url('../img/mm_right_curve.gif') right no-repeat;
}

/*  Sidebar */
#sidebar {
  background: #CCC;
  color: #346;
  border: solid thin #5A79A5;
  margin-top: -11px;
  padding: 1em .5em .5em .5em;
}
#sidebar h2 {
  font-size: small;
  line-height: inherit;
  margin: 0;
}
#sidebar a {
  color: #346;
}

/*  Main  */
#main {
  background: #DCDFF6;
  color: #222;
  border-radius: 10px;
  padding: 0 2em 2em 2em;
}
h1 {
  background: #5A79A5;
  color: #FFF;
  text-align: center;
  margin: 0 20% .5em 20%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: x-large;
}

/*  Footer  */
#footer {
  text-align: center;
  margin: 1em 0;
}
#footer span {
  background: #DCDFF6;
  border-radius: 10px;
  padding: 0 1em;
}

/* Specific functionality */
ul.commas > li {
  display: inline-block;
}
ul.commas > li::after {
  content: ","
}
ul.commas > li:last-child::after {
  content: ""
}
