/*  Zections  */
#resume .zection {
  padding-bottom: .6em;
  border-bottom: thin solid #313C4B;
  clear: both;
  display: inline-block;
  width: 100%;
}
#resume .zection .lhs {
  float: left;
  padding-right: .6em;
  width: 50%;
}
#resume .zection .rhs {
  border-left: thin solid #313C4B;
  padding-left: 1em;
  float: left;
  width: 47%;
}

/*  Labels  */
.zection label {
  font-weight: bold;
  margin-bottom: 0;
}
.zection ul label {
  font-weight: normal;
  text-decoration: underline;
}
.zection ul ul label {
  text-decoration: none;
  font-style: italic;
  display: inline;
}
#objective label {
  float: left;
}

/*  Top */
#headers * {
  text-align: center;
}
#headers h2 {
  font-family: serif;
  letter-spacing: .1em;
  font-size: 1.75em;
  margin: .25em;
  background-color: #DCDFF6;
}
#headers h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  line-height: inherit;
}
#contact ul {
  margin: 1em;
  list-style-type: none;
}
#contact li {
  clear: both;
  text-align: center;
}

/*  Objective */
#objective span {
  float: left;
}
#objective div {
  text-align: center;
}

/*  Skills  */
#skills ul,
#skills ul ul ul {
  list-style-type: none;
}
#skills .rhs ul ul {
  list-style-type: disc;
}
#skills ul ul ul,
#skills ul ul ul li {
  display: inline;
}
#skills .lhs ul ul li {
  text-indent: -2em;
  margin-left: 2em;
}
#skills .lhs ul ul ul li {
  text-indent: 0;
  margin-left: 0;
}
#skills .rhs ul ul ul {
  margin-left: 0;
}
#skills .rhs ul ul span {
  /*  Hide these labels */
  display: none;
}

/*  Work History  */
#work-history .defs {
  display: inline-block;
  float: right;
}
#work-history .defs .name {
  font-style: italic;
}
#work-history ul,
#work-history ul ul ul {
  list-style-type: none;
}
#work-history ul ul {
  list-style-type: disc;
}
#work-history .title {
  text-decoration: underline;
}

/*  Education */
#education ul {
  list-style-type: none;
}
#education ul ul li {
  text-indent: -2em;
  margin-left: 2em;
}
#education ul ul ul li {
  text-indent: 0;
  margin-left: 0;
}
#education ul ul ul,
#education ul ul ul li {
  display: inline;
}
#education .school {
  display: inline-block;
  text-decoration: underline;
}
#education .award {
  display: inline-block;
  float: right;
}

/*  Projects  */
#projects ul {
  list-style-type: none;
}
#projects ul li {
  text-indent: -2em;
  margin-left: 2em;
}
