#resume {
  .row-fluid {
    border-bottom: 1px solid #000;
    &:last-child, &.no-border {
      border-bottom: 0;
    }
  }
  .span6 {
    padding-right: 1%;
    &:first-child {
      border-right: 1px solid #000;
    }
  }
  h3 {
    font-weight: normal;
    font-style: italic;
    font-size: large;
    line-height: inherit;
  }
  p {
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    &.no-marker {
      list-style-type: none;
    }
    &.no-indent {
      margin-left: 0;
    }
  }
  h4::after {
    content: ":";
  }
  h5 {
    margin: 0;
    font-weight: normal;
    text-decoration: underline;

    span {
      text-decoration: none;
      float: right;
    }
  }
  .hl {
    font-style: italic;
  }
}
