{{#course_list}}
  {{^first}}
    <hr />
  {{/first}}
  <div class="year">
    <div class="header">
      <h2 data-toggle="collapse" data-target="#year-{{year}}-content">
        {{year}}
      </h2>
      <ul class="universities">
        {{#universities}}
          <li>{{.}}</li>
        {{/universities}}
      </ul>
    </div>
    <div id="year-{{year}}-content" {{^first}}class="collapse" {{/first}}>
      {{#courses}}
        <div class="course" id="{{id}}">
          <div class="header">
            <h3 data-toggle="collapse" data-target="#{{id}}-content">
              {{title}}
            </h3>
            {{#categories.length}}
              <ul class="categories">
                {{#categories}}
                  <li>{{.}}</li>
                {{/categories}}
              </ul>
            {{/categories.length}}
            {{#languages.length}}
              <ul class="languages">
                {{#languages}}
                  <li>{{.}}</li>
                {{/languages}}
              </ul>
            {{/languages.length}}
            {{#libraries.length}}
              <ul class="libraries">
                {{#libraries}}
                  <li>{{.}}</li>
                {{/libraries}}
              </ul>
            {{/libraries.length}}
          </div>

          <div id="{{id}}-content" class="collapse">
            {{#professor}}
              <div class="from">From {{.}} of
                {{#professorsUniversity}}
                  {{.}} via
                {{/professorsUniversity}}
                {{university}}
              </div>
            {{/professor}}
            {{^professor}}
              <div class="from">From {{university}}</div>
            {{/professor}}
            {{#syllabus.size}}
              <ul>
              {{#syllabus}}
                {{#sub.size}}
                  <li><label>{{label}}</label><ul>
                    {{#sub}}<li>{{.}}</li>{{/sub}}
                  </ul></li>
                {{/sub.size}}
                {{^sub.size}}
                  <li>{{label}}</li>
                {{/sub.size}}
              {{/syllabus}}
              </ul>
            {{/syllabus.size}}
          </div>
        </div>
      {{/courses}}
    </div>
  </div>
{{/course_list}}
