---
title: Carnegie Mellon Application
---
%div
  %p
    Thank you for contributing to my PhD application to Carnegie Mellon. In
    February ('17), they put me on a waiting list for entrance, meaning that
    they believed my application was good enough for admission (well done,
    team!) but did not have enough slots to accommodate. Unfortunately, in
    April they sent the official rejection letter. 

  %p
    Thank you again for feedback -- I had the best application I could with
    your support. My fallback is purchasing a house, so this particular
    rejection didn't sting too much :)
