---
title: Carnegie Mellon Application
---
%style
  a[href^="https://docs.google.com"] {
  background-image: url("../assets/img/google_docs_small.png");
  background-size: 1em;
  background-repeat: no-repeat;
  padding-left: 1.2em;
  font-size: 1.5em;
  }
  p {
  padding-top: 1em;
  padding-bottom: 1em;
  }

%div
  %img{src: "../assets/img/me.jpeg", style: "float: left; margin: 1em;"}

  %p
    Your generous feedback will strengthen my PhD application to Carnegie
    Mellon and increase my odds of acceptance. I've broken the application
    into its component documents for your review and evaluation below. Please
    click through to the documents (each less than two pages) in Google Docs
    and use the commenting feature there to leave feedback. Alternatively,
    shoot me an
    %a{href: "mailto:cm.lubinski@gmail"} email.
    Thank you not only for feedback but your support! I have a shot to address
    some of the challenging legal and policy problems we face, and you can
    help me take it.

  %p
    CMU's
    %a{href: "http://sc.isri.cmu.edu/"}
      Societal Computing
    PhD program focuses on the intersection of technology, policy, and
    society.  They're not as research centric as other parts of CMU, and
    encourage applications from govies and industry folks. They have research
    into privacy policies (including machine-learning based digital assistants
    and machine-readable policy languages), applying network analysis to the
    social media, and the design of smart grids.

%hr
%h2 Statement of Purpose
%p
  Absent a specific prompt, I chose a relatively specific research topic and
  explained 1) why it matters, 2) why I'm qualified, and 3) why CMU is the
  place for this research. I tried to stick to around 500 words and aimed to
  weave together my academic, industry, and government experience.
%p
  %a{href: "https://docs.google.com/document/d/1u5lZ7CHWO4Qp721urRh2drN-0N9Ws2vJ2NxfOznG5fA/edit"}
    Current Draft

%hr
%h2 Resume
%p
  Resumes are always tricky, but in this case, the application asks for detail
  in many other places (e.g. "Publications", "Research Experience"). I tried
  to summarize, then, highlighting the bits I thought a reviewer would want to
  see: ability to succeed, to work well with others, and to learn new things.
%p
  %a{href: "https://docs.google.com/document/d/16IPA6AjnFIzhszVnRvxqZF0f3o4HazOJLdEdUuRWcvs/edit"}
    Current Draft

%hr
%h2 Recommenders
%p
  %strong Prompt:
%blockquote
  Three letters of recommendation are required. At least two should be from
  faculty or recent employers. Recommenders should know you relatively well
  and be able to evaluate the quality of your academic and professional
  abilities.
%p Here's my current plan; is it a good mix?
%ul
  %li
    One of my my graduate research advisors (and professor) at DePaul. This
    would probably cover research experience, programming ability, and
    contributing to a published paper.
  %li
    My supervisor at 18F. This would probably cover leadership, mentorship,
    and pushing boundaries in government.
  %li
    My frequent project manager at 18F. This would probably cover delivery,
    teamwork, and working with agency partners.
  %li
    A previous co-worker and current director of Engineering at CFPB. This
    would probably cover eRegs work, code quality and quantity.

%hr
%h2 Publications
%p
  %strong Prompt:
%blockquote
  List relevant publications, including journal or conference papers
  (submitted, accepted, or published), thesis, or technical reports. If you
  would like for the admissions committee to have access to a copy of the
  paper, please provide the URL. 
%p
  This is a fixed set of inputs per publication. I've listed my DePaul
  publications but also included three technical pieces for 18F. I don't know
  if they are appropriate or not, though... what do you think?
%ul
  %li
    %a{href: "http://fpl.cs.depaul.edu/cpitcher/research/2014-csf-certificates-for-verifiable-forensics.pdf"}>
      Certificates for Verifiable Forensics
    , an "Accepted" "Full Paper" in the 2014 "IEEE Computer Security
    Foundations Symposium". Authors: Radha Jagadeesan, CM Lubinski, Corin
    Pitcher, James Riely, and Charles Winebrinner
  %li
    %a{href: "http://cmc333333.github.io/forensics-thesis-code/formalized-forensics.pdf"}>
      Feasible Formal Forensics: Computational Proofs of a Honeynet Challenge
    , an "Accepted" "Masters Thesis" by CM Lubinski
  %li
    %a{href: "https://github.com/18F/development-guide/tree/8193e756e49764e5dbec0e0546c7b27a71768536/architecture_reviews/data_act_pilot"}>
      DATA Act Pilot: Simplicity is Key
    , a "Technical Report" by CM Lubinski, Becky Sweger
  %li
    %a{href: "https://github.com/18F/development-guide/tree/edd66821c7fff36d0ca88411883d4dae77f67b3a/architecture_reviews/micro_purchase"}>
      Micro-purchase: Do one thing well
    , a "Technical Report" by Alan deLevie, Jacob Harris, CM Lubinski, Jessie Young
  %li
    %a{href: "https://github.com/18F/development-guide/tree/8d86f87634736a2914dd3107a12bcd25d7f61f6d/language_selection"}>
      Language selection guide
    , a "Technical Report" by CM Lubinski

%hr
%h2 Fellowships
%p
  %strong Prompt:
%blockquote
  List only those fellowships which you are applying for or have been awarded
  for your graduate studies.
  Do not list fellowships that were awarded for undergraduate studies.
%p
  Though we applied grants to
  %em fund
  my research, I don't think they qualify. My CFPB Fellowship (really, a job)
  wasn't related to graduate studies.

%hr
%h2 Research Experience
%p
  I used this space as a sort of resume for research experience, listing
  several of the important sub-steps in my forensics research.
%p
  %a{href: "https://docs.google.com/document/d/1ZCVsxKMXysoLI_iNVUVW4m_85-XpdmBRbJuD0ET2fQI/edit"}
    Current Draft

%hr
%h2 Industry/Government Experience
%p
  Here I tried to show that many of the qualities which make a good employee
  also prepare one for graduate research. I also emphasized the overlap
  between my intended research topic and my government experience.
%p
  %a{href: "https://docs.google.com/document/d/1lZ9QTF0hc-Jvw9ojHE7ptw2fEBcUwt9Qbc7wIkGk_qU/edit"}
    Current Draft
