---
title: CMU
---
%style
  a[href^="https://docs.google.com"] {
  background-image: url("../assets/img/google_docs_small.png");
  background-size: 1.4em;
  background-repeat: no-repeat;
  padding-left: 1.6em;
  font-size: 1.5em;
  }

%p
  Thanks so much for helping my application to Carnegie Mellon! I'm ready to
  spend focused time
  %strong researching
  and
  %em resolving
  fundamental regulatory &amp; compliance problems I've encountered throughout
  my career. I'm a firm believer that technology can help us and hoping that
  my CMU application is accepted to nudge the field in the right direction.
  Below, I've split my application into components for your kind review; your
  assistance will lead to the best application possible. Please add comments
  and suggestions to the linked Google Docs.

%hr
%h2 Program Information
%p
  See CMU's
  %a{href: "http://sc.isri.cmu.edu/"}
    Societal Computing
  page.

%hr
%h2 Statement of Purpose
%blockquote
  Prepare a concise one or two page essay in PDF format that describes your
  primary areas of interest, your related experiences, and your objective in
  pursuing a graduate degree at Carnegie Mellon. Your essay should be specific
  in describing your interests and motivations. When describing your
  interests, you should explain why you think they are important areas of
  study and why you are particularly well-suited to pursue them. You should
  describe any relevant education, research, commercial, government, or
  teaching experience. 
%blockquote
  Indicate your intended area in the first paragraph of your Statement of
  Purpose along with the name of a possible advisor.
%p
  %a{href: "https://docs.google.com/document/d/1u5lZ7CHWO4Qp721urRh2drN-0N9Ws2vJ2NxfOznG5fA/edit"}
    Current Draft

%hr
%h2 Resume
%blockquote
  Submit your current resume in PDF format. Any other format will not be
  accepted. Outline your education, research experience, work experience,
  publications, scholarships awarded, prizes and honors received, society
  memberships, and extracurricular activities.
%p No draft yet

%hr
%h2 Recommenders
%blockquote
  Three letters of recommendation are required. At least two should be from
  faculty or recent employers. Recommenders should know you relatively well
  and be able to evaluate the quality of your academic and professional
  abilities.
%p
  My ideal list of recommenders includes two DePaul professors (where I worked
  on graduate research), the director of Engineering at 18F, my project
  manager at 18F, and the current director of Engineering at CFPB.

%hr
%h2 Publications
%blockquote
  List relevant publications, including journal or conference papers
  (submitted, accepted, or published), thesis, or technical reports.
%p
  %a{href: "https://docs.google.com/document/d/1Tv7CUaLpQeFOxKhNCgPpo-mrlrQOlplbRQcz59T1n18/edit"}
    Current Draft

%hr
%h2 Fellowships
%blockquote
  List only those fellowships which you are applying for or have been awarded
  for your graduate studies.
  Do not list fellowships that were awarded for undergraduate studies.
%p
  I don't
  %em believe
  I have any such fellowships, but I might not understand.

%hr
%h2 Research Experience
%p
  This has no prompt.
%p
  No current draft

%hr
%h2 Industry/Government Experience
%p
  For those with industrial or government experience, please describe how this
  experience prepares you for graduate-level academic work.
%p
  No current draft
