--- 
title: Résumé
extra_css: 
  - /assets/css/resume.css
---

#pdf-link
  %a{href: "/assets/files/lubinski-resume.pdf"}
    PDF Version</a>
#resume
  %section.row-fluid
    %section.span6.text-center
      %h2 C.M. Lubinski
      %h3 Humble Hacker
    %section.span6.text-center{style: "padding-top: 1em;"}
      %p 
        %a{href: "mailto:cm.lubinski@gmail.com"} cm.lubinski@gmail.com
        &ndash; 872.833.9262
      %p Pittsburgh, PA 15224
      %p 
        %a{href: "http://cmlubinski.info"} http://cmlubinski.info

  .row-fluid.no-border
    %h4 Relevant Skills &amp; Interests
  %section.row-fluid
    .span4
      %h5 Web Development
      %ul.no-marker
        %li Model-View-Controller
        %li Static Site Generators &amp; Caching
        %li Content Management Systems

      %h5 APIs &amp; Data
      %ul.no-marker
        %li RESTful clients &amp; services
        %li Relational &amp; Document DBs
        %li Search Indexes, Key-Value Stores

    .span4
      %h5 Natural Language Processing
      %ul.no-marker
        %li Parsing &amp; Formal Grammars
        %li Search &amp; Information Retrieval
        %li Machine &amp; Statistical Learning

      %h5 Geospatial/GIS
      %ul.no-marker
        %li Slippy Maps, Interactive Displays
        %li Geo-aware DBs, Frameworks
        %li Importing Data (Census/ACS)

    .span4
      %h5 Rapid, Stable Delivery
      %ul.no-marker
        %li Cloud infrastructure/deployments
        %li Unit Tests, Continuous Integrat'n
        %li Release Early, Always Shipping

      %h5 Teamwork
      %ul.no-marker
        %li Agile, Open Source Development
        %li Tight-knit Peers, Always Learning
        %li Code Review via Pull Request

  %section.row-fluid
    %h4 
      %a{href: "/cv/work"} Recent Work History

    %h5 
      Innovation Specialist &mdash; 
      %a{href: "https://18f.gsa.gov/"} 18f (General Services Administration)
      %span Sept '14 &ndash; Present
    %ul.no-marker.no-indent
      %li
        %span.hl
          %a{href: "https://github.com/18f/C2"} Communicart
        Web &amp; email-based approval tracking. Ruby, Rails, Postgres, Cloud Foundry
      %li
        %span.hl
          %a{href: "https://github.com/18f/peacecorps-site"} Peace Corps Donations
        CMS &amp; payment collection. Python, Django, Postgres, JS &amp; Grunt, SASS, AWS
    %ul
      %li Helped navigate waterfall-only clients, agile developers, &amp; research-oriented designers to project launches
      %li Researched, implemented, and expanded libraries for authorization, file uploads, caching, etc.
      %li Developed key features, e.g. payments, accounting sync, data encryption, &amp; complexity-reducing refactors
      %li Interviewed candidates for technical work in the federal government; helped found 18f's Chicago office
      %li Shared code commentary, architecture analyses, post mortems, and hotfixes with peers around the country 

    %h5 
      Backend Developer &mdash; 
      %a{href: "http://consumerfinance.gov/"} Consumer Financial Protection Bureau
      %span Dec '12 &ndash; Sept '14
    %ul.no-marker.no-indent
      %li
        %span.hl 
          %a{href: "https://github.com/cfpb/mapusaurus"} Mapusaurus
        Slippy-map highlighting red-lining cases. Python, GeoDjango, PostGIS, Leaflet, Topo JSON
      %li
        %span.hl
          %a{href: "https://github.com/cfpb/eregulations"} eRegulations
        Regulation parser, compiler, and viewer. Python, Django, MySQL, Solr, Backbone
    %ul
      %li Discovered structure, definitions, citations, &amp; other data in messy XML; used to compile reg versions
      %li Combined and rendered census shapes and statistics with HMDA load records onto a slippy-map
      %li Served w/ a brilliant team; per-pull-request reviews; led the bureau in tests &amp; CI; frequent design critiques
      %li Co-chaired Transparency group (1st tech article), heavily involved in Open Source (CFPB's top committer) 

    %h5
      Chief Developer &mdash; 
      %a{href: "http://toodalu.com/"} Toodalu, LLC (acquired)
      %span Aug '10 &ndash; Dec '12
    %ul.no-marker.no-indent
      %li
        %span.hl APIs
        Securely stored &amp; served data; core business logic. Scala, Lift, REST, JSON, PostGIS, Mongo, Solr
      %li
        %span.hl Web UIs
        Corresponding user, merchant, sales, &amp; admin apps. Scala, Lift, Wordpress 
    %ul
      %li Led the majority of technology decisions, refactoring the code base through numerous, radical pivots
      %li Integrated third parties, such as credit card processors, cloud hosting, social networks, &amp; push notifications
      %li Configured, maintained all associated servers, including continuous integration with black-box Python tests

    %h5 
      Web Developer &mdash; 
      %a{href: "http://networkninja.com/"} Network Ninja, Inc.
      %span Jun '08 &ndash; Aug '10
    %ul.no-marker.no-indent
      %li
        %span.hl Legal Server
        Client/document tracking for pro bono attorneys. Object-oriented PHP, Postgres
    %ul
      %li Coordinated with project managers, kept accurate time estimates; improved and extended, pushing weekly
      %li Implemented unit-testing regime, preventing countless bugs; migrated to Trac from a custom ticket system
  
  %section.row-fluid
    %section.span6
      %h4 
        %a{href: "http://cmc333333.github.io/forensics-thesis-code/formalized-forensics.pdf"} Formal Education
      %h5 
        DePaul University
        %span Chicago, IL
      %ul.no-marker
        %li
          MS, Computer Science (Theory), 2014
          %span.right GPA 4.00
        %li “Formalized Forensics”: Master's Thesis

      %h5
        Grinnell College
        %span Grinnell, IA
      %ul.no-marker
        %li
          BA, Computer Science (Honors), 2008
          %span.right GPA 3.69
        %li
          Dean's List, Honors Scholarship, 
          %a{href: "http://www.siguccs.org/Conference/Fall2007/awards_winners.php"} ACM award
          , TA

    %section.span6
      %h4 Continued Education
      %h5 
        Online Courses
        %span (Coursera, Udacity, edX, Stanford, etc.)
      %ul.no-marker
        %li AI, Bioinformatics, Crypto, Data Sci, Discrete Opt, 
        %li Formal Logic, ML, Network Analysis, NLP, & more

      %h5
        Informal
        %span (Conferences, Meetups, etc.)
      %ul.no-marker
        %li Strange Loop, OSCON, Lambda Jam, Philly ETE
        %li 
          Self-study:
          %a{href: "/misc/books"} books
          , 
          %a{href: "/misc/podcasts"} podcasts
          , and a tendency to tinker

  %section.row-fluid
    %h4 Other Points of Pride
    %p
      %span.hl Presentations
      about
      %a{href: "/writings/cryptography-and-security-for-coders"} security
      , 
      %a{href: "https://docs.google.com/presentation/d/12SL5zFNW8N7Hta3hvuXd49N0IvQWq6nvb5C0CMNZVpY/edit?usp=sharing"} static sites
      , team morale, and more at conferences, meetups, &amp; work
    %p
      %span.hl Articles
      ranging from 
      %a{href: "http://cfpb.github.io/articles/rules-rules/"} parsing
      , 
      %a{href: "http://off-by-one-mag.github.io/issue-1/articles/constraint-programming/"} constraint programming
      , 
      %a{href: "/writings/vim-faq/"} ViM
      , 
      %a{href: "https://18f.gsa.gov/2015/04/09/flexibility-when-releasing-a-new-product-peace-corps-new-donation-platform/"} trade-offs
      , to verifiable forensics (
      %a{href: "http://csf2014.di.univr.it/accepted"}CSF '14
      )
    %p
      %span.hl Contributions
      upstream, with patches/plugins/discussions to Vim, Trac, Dispatch, various Django libraries
    %p
      %span.hl Open Source
      personal projects for mixing podcasts, classifying news, a static personal site, web scrapers, etc.
    %p
      %span.hl Purpose
      matters. Apps for pro bono attorneys, charities, regulators, Peace Corps volunteers, and do-gooders
