---
title: Work History
extra_css: [/assets/css/work.css]
---
- all_jobs().each do |job|
  %h2
    %span{:class => job[:title]}
      =job[:"job title"]
    = " @ "
    - if job[:"company url"]
      %a{:href => job[:"company url"]}
        =job[:company]
    - else
      =job[:company]
  .job-description
    =job.compiled_content
